body {
    background-color: #eee;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea.gridview {
	width: 500px;
	height: 300px;
}

x-cracks-list {
	display: block;
	background-color: #fff;
}

x-crack {
	margin: 3px;
	padding: 8px;
	display: block;
	border: 1px solid gray;
}

x-crack-info {
	display: inline-block;
	width: 150px;
	vertical-align: top;
}

x-crack-content {
	display: inline-block;
	vertical-align: top;
}

x-crack-content textarea {
	width: 800px;
	height: 100px;
}

x-buttons {
	margin-left: 5px;
}

x-crack button {
	height:20px;
	margin-bottom: 5px;
}

x-modal {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #000;
	opacity: 0.4;
	z-index: 1;
}

x-dialog-box {
	position: absolute;
	left: 50%;
	top: 100px;
	display: block;
	margin-left: -250px;
	width: 500px;
	padding: 10px;
	background-color: #eee;
	border: 1px solid black;
	opacity: 1.0;
	z-index: 2;
}

button.picker {
	margin: 4px;
}

body.error {
	background-color: #f66;
}